.nameAndPortions {
  display: grid;
  grid-template-columns: 90% 10%;
  grid-gap: 5px;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  color: #444;

  label {
    display: flex;
    flex-direction: column;
  }

  input {
    margin-top: 10px;
  }
}
