.wrapper {
  font-family: Roboto, sans-serif;
  margin: 10px 0;
  min-width: 300px;

  span {
    margin-left: 10px;
    font-size: 12px;
  }
}

.dinnerLink {
  margin: 10px 0 10px 24px;


  a {
    font-size: 14px;
    color: #5AA0D3
  }
}

.iconButton {
  margin-left: 10px;
  padding: 10px 12px;
}
